build/
dist/
*.egg-info/
**/__pycache__/

**/.ipynb_checkpoints
**/.ipynb_checkpoints/**

**/notebooks

# Ignore shell scripts
*.sh

# Ignore swap files
*.swp

# Ignore vscode directory
.vscode/

# generated outputs
outputs/
*.npy
*.npz
*.png
*.jpg
*.jpeg
*.safetensors
siglip2/*_hf/

# hydra logs
.hydra/
*.log
